<% provide(:title, 'Sample Index') %>

<h1>All CPA samples</h1>

<!-- new sample button -->
<% if current_user.admin? %>
  <br>
  <%= link_to 'New Sample', new_sample_path, :class => "btn btn-outline-success btn-lg" %>
  <br><br>
<% end %>

<p>Click on the language's arrows (<i class="fa fa-caret-down" aria-hidden="true"></i> <i class="fa fa-caret-up" aria-hidden="true"></i>) to toggle. The "Instructions" & "Submission" buttons download the corresponding files.</p>

<br>

<h2>Spanish <i id="click-spanish" class="fas fa-caret-down"></i></h2>

<div id="spanish-examples" class="initiallyHidden">
  <% @spanish_samples.each do |sample| %>   
    Spanish <%= sample.level %><br>
    Theme: <%= sample.theme %><br>
    Mode: <%= sample.mode %><br>
    Score: <%= sample.score %>%<br>
    <%= link_to "Instructions", sample.instruction.url, :class => "btn btn-primary btn-sm", target: :_blank %>
    <%= link_to "Submission", sample.submission.url, :class => "btn btn-info btn-sm", target: :_blank %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#<%= sample.id %>">
      Comments
    </button>

    <!-- Modal -->
    <div class="modal fade" id="<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= sample.comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- allow resource editing to admins -->
    <% if current_user.admin? %>
      Admin resources:<br>
      <%= link_to 'View', sample, :class => "btn btn-secondary btn-sm" %>
      <%= link_to 'Edit', edit_sample_path(sample), :class => "btn btn-warning btn-sm" %>
      <%= link_to 'Delete', sample, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    <% end %>
    <br><br>
<% end %>
</div>

<br>

<h2>French <i id="click-french" class="fas fa-caret-down"></i></h2>

<div id="french-examples" class="initiallyHidden">
  <% @french_samples.each do |sample| %>   
    French <%= sample.level %><br>
    Theme: <%= sample.theme %><br>
    Mode: <%= sample.mode %><br>
    Score: <%= sample.score %>%<br>
    <%= link_to "Instructions", sample.instruction.url, :class => "btn btn-primary btn-sm", target: :_blank %>
    <%= link_to "Submission", sample.submission.url, :class => "btn btn-info btn-sm", target: :_blank %>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#<%= sample.id %>">
      Comments
    </button>

    <!-- Modal -->
    <div class="modal fade" id="<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= sample.comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- allow resource editing to admins -->
    <% if current_user.admin? %>
      Admin resources:<br>
      <%= link_to 'View', sample, :class => "btn btn-secondary btn-sm" %>
      <%= link_to 'Edit', edit_sample_path(sample), :class => "btn btn-warning btn-sm" %>
      <%= link_to 'Delete', sample, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    <% end %>
    <br><br>
<% end %>
</div>

<br>

<h2>German <i id="click-german" class="fas fa-caret-down"></i></h2>

<div id="german-examples" class="initiallyHidden">
  <% @german_samples.each do |sample| %>    
    German <%= sample.level %><br>
    Theme: <%= sample.theme %><br>
    Mode: <%= sample.mode %><br>
    Score: <%= sample.score %>%<br>
    <%= link_to "Instructions", sample.instruction.url, :class => "btn btn-primary btn-sm", target: :_blank %>
    <%= link_to "Submission", sample.submission.url, :class => "btn btn-info btn-sm", target: :_blank %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#<%= sample.id %>">
      Comments
    </button>

    <!-- Modal -->
    <div class="modal fade" id="<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= sample.comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- allow resource editing to admins -->
    <% if current_user.admin? %>
      Admin resources:<br>
      <%= link_to 'View', sample, :class => "btn btn-secondary btn-sm" %>
      <%= link_to 'Edit', edit_sample_path(sample), :class => "btn btn-warning btn-sm" %>
      <%= link_to 'Delete', sample, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    <% end %>
    <br><br>
<% end %>
</div>

<br>

<h2>ASL <i id="click-asl" class="fas fa-caret-down"></i></h2>

<div id="asl-examples" class="initiallyHidden">
  <% @asl_samples.each do |sample| %>   
    ASL <%= sample.level %><br>
    Theme: <%= sample.theme %><br>
    Mode: <%= sample.mode %><br>
    Score: <%= sample.score %>%<br>
    <%= link_to "Instructions", sample.instruction.url, :class => "btn btn-primary btn-sm", target: :_blank %>
    <%= link_to "Submission", sample.submission.url, :class => "btn btn-info btn-sm", target: :_blank %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#<%= sample.id %>">
      Comments
    </button>

    <!-- Modal -->
    <div class="modal fade" id="<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= sample.comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- allow resource editing to admins -->
    <% if current_user.admin? %>
      Admin resources:<br>
      <%= link_to 'View', sample, :class => "btn btn-secondary btn-sm" %>
      <%= link_to 'Edit', edit_sample_path(sample), :class => "btn btn-warning btn-sm" %>
      <%= link_to 'Delete', sample, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    <% end %>
    <br><br>
<% end %>
</div>

<br>

<h2>SFS <i id="click-sfs" class="fas fa-caret-down"></i></h2>

<div id="sfs-examples" class="initiallyHidden">
  <% @sfs_samples.each do |sample| %>    
    SFS <%= sample.level %><br>
    Theme: <%= sample.theme %><br>
    Mode: <%= sample.mode %><br>
    Score: <%= sample.score %>%<br>
    <%= link_to "Instructions", sample.instruction.url, :class => "btn btn-primary btn-sm", target: :_blank %>
    <%= link_to "Submission", sample.submission.url, :class => "btn btn-info btn-sm", target: :_blank %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#<%= sample.id %>">
      Comments
    </button>

    <!-- Modal -->
    <div class="modal fade" id="<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= sample.comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- allow resource editing to admins -->
    <% if current_user.admin? %>
      Admin resources:<br>
      <%= link_to 'View', sample, :class => "btn btn-secondary btn-sm" %>
      <%= link_to 'Edit', edit_sample_path(sample), :class => "btn btn-warning btn-sm" %>
      <%= link_to 'Delete', sample, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    <% end %>
    <br><br>
<% end %>
</div>

<br>

<h2>Latin <i id="click-latin" class="fas fa-caret-down"></i></h2>

<div id="latin-examples" class="initiallyHidden">
  <% @latin_samples.each do |sample| %>   
    Latin <%= sample.level %><br>
    Theme: <%= sample.theme %><br>
    Mode: <%= sample.mode %><br>
    Score: <%= sample.score %>%<br>
    <%= link_to "Instructions", sample.instruction.url, :class => "btn btn-primary btn-sm", target: :_blank %>
    <%= link_to "Submission", sample.submission.url, :class => "btn btn-info btn-sm", target: :_blank %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#<%= sample.id %>">
      Comments
    </button>

    <!-- Modal -->
    <div class="modal fade" id="<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= sample.comment %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- allow resource editing to admins -->
    <% if current_user.admin? %>
      Admin resources:<br>
      <%= link_to 'View', sample, :class => "btn btn-secondary btn-sm" %>
      <%= link_to 'Edit', edit_sample_path(sample), :class => "btn btn-warning btn-sm" %>
      <%= link_to 'Delete', sample, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    <% end %>
    <br><br>
<% end %>
</div>

<br>