<% provide(:title, 'Sample Content') %>

<h1>Content</h1>

<p>
  <strong>Language:</strong>
  <%= @sample.language %>
</p>

<p>
  <strong>Level:</strong>
  <%= @sample.level %>
</p>

<p>
  <strong>Score:</strong>
  <%= @sample.score %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @sample.mode %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @sample.comment %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= link_to "Download Instructions", @sample.instruction.url, target: :_blank %>
</p>

<p>
  <strong>Submission:</strong>
  <%= link_to "Download Submission", @sample.submission.url, target: :_blank %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample), :class => "btn btn-warning btn-sm" %> 
<br><br>
<%= link_to 'All samples', samples_path, :class => "btn btn-info btn-sm" %>
