<br>

<div class="container">
  <h1>Loundoun County Public Schools</h1><br>
  <h2>World Languages & Cultures</h2>
  <br>

  <% unless user_signed_in? %>
    
    <p>You are not signed in. To access this resource, <%= link_to('log in', new_user_session_path) %> to access this resource.</p>
  
  <% else %>
    <p>This website contains examples of CPA submissions to facilitate county-wide grade calibration.
    <br> 
    For more information about how to use this resource, visit the <%= link_to('FAQs', '#') %>.
    <br>
    Or choose your language:
    <ul>
      <li><%= link_to('Spanish', '#') %></li>
      <li><%= link_to('French', '#') %></li>
      <li><%= link_to('German', '#') %></li>
      <li><%= link_to('ASL', '#') %></li>
      <li><%= link_to('SFS', '#') %></li>
      <li><%= link_to('Latin', '#') %></li>
    </ul> 
  <% end %>
</div>

